#controls {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#file-controls {
    display: flex;
}

#file-controls > * {
    margin-right: 0.5em;
}

#controls > * {
    margin-bottom: 0.5em;
}